<div id="map-container" class="col-md-8">
	<div id="new-party" data-toggle="tooltip" data-placement="left" title="New Party"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></div>
	<div id="map">
	</div>
</div>
<div class="col-md-4">
	<div role="tabpanel">

		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist" data-tabs="tabs">
			<% _.each(user.courses, function(course) { %>

				<li role="presentation" class="class-tab" id="class-tab-<%= course._id %>"><a href="#course-panel-<%= course._id %>" aria-controls="#course-panel-<%= course._id %>" role="tab" data-toggle="tab"><%= course.courseNumber %></a></li>
			<% }) %>
			<li role="presentation" class="class-tab" id="new-class-tab"><a href="#new-class-panel" aria-controls="#new-class-panel" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-plus"></span></a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<% _.each(user.courses, function(course) { %>
				<div role="tabpanel" class="class-tab-panel tab-pane" id="course-panel-<%= course._id %>">
					<div class="row">
						<div class="col-md-7 col-md-offset-1">Location</div>
						<div class="col-md-4">Attendees</div>
					</div>
				</div>
			<% }) %>
			<div role="tabpanel" class="class-tab-panel tab-pane" id="new-class-panel">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="add-new-course" class="col-sm-2 control-label">Course</label>
						<div class="col-sm-10">
							<select class="form-control" id="add-new-course" placeholder="Select a course...">
								<option value="" selected="selected"></option>

								<% _.each(courses, function(course) { %>

								<option value="<%= course._id %>"><%= course.courseNumber %></option>
								<% }); %>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button id="add-course-button" class="btn btn-default">Add Course</button>
						</div>
					</div>
					<p class="bg-danger" id="add-course-errors"></p>
				</form>
			</div>
		</div>

	</div>
</div>

<div id="new-party-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">New Party</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="new-party-course-number" class="col-sm-2 control-label">Course</label>
						<div class="col-sm-10">
							<select class="form-control" id="new-party-course-number">
								<% _.each(user.courses, function(course) { %>
								<option value="<%= course._id %>"><%= course.courseNumber %></option>
								<% }); %>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="new-party-location" class="col-sm-2 control-label">Location</label>
						<div class="col-sm-10">
							<input class="form-control" id="new-party-location" placeholder="e.g. 4-124">
						</div>
					</div>
					<div class="form-group">
						<label for="new-party-details" class="col-sm-2 control-label">Other info</label>
						<div class="col-sm-10">
							<textarea rows="2" class="form-control" id="new-party-details"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="new-party-duration" class="col-sm-2 control-label">Time length (hours)</label>
						<div class="col-sm-10">
							<div id="new-party-duration"></div>
							<span id="new-party-duration-text">2 hours</span>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" id="add-party-button" class="btn btn-primary">Add Party</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->