.navbar-nav {
	float:none !important;
}

.navbar-nav a {
	cursor:pointer;
}

.popover {
	max-width:none;
	width:500px;
}

body {
	padding-top: 100px; /* 60px to make the container go all the way to the bottom of the topbar */
}

#map {
	height: 400px;
	z-index:0;
}

#map.adding-party:hover {
	cursor:crosshair;
}

#map-container {
	position:relative;
}

#new-party {
	position:absolute;
	top:10px;
	right:25px;
	font-size:30px;
	z-index:1;
	cursor:pointer;
	color:#731075;
	outline-color:#731075;
}

#new-party:hover {
	color: #420943;
	outline-color:#420943;
}

#new-party.disabled {
	color:#999999;
	cursor:default;
}

#new-party span {
	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
}

.course-line .party-details {
	display:none;
}

.course-line.expanded .party-details {
	display:initial;
}

.class-tab-panel {
	padding-top:10px;
}

.open-party-details {
	cursor:pointer;
}

.color-palette {
	width:10px;
	height:10px;
	display:inline-block;
	margin-right: 5px;
	border:1px solid black;
	cursor:pointer;
}

.course-line {
	padding:5px;
	border-radius: 5px;
}

.go-to-party {
	cursor: pointer;
}

.footer {
	margin-top:10px;
}

.remove-course {
	position:absolute;
	bottom:0px;
}

.panel-header {
	font-weight:bold;
}

#tabpanel {
	height:350px;
	position:relative;
}

#sidebar {
	height:400px;
}

#general-errors {
	bottom:0;
}

.remove-course .glyphicon-remove {
	cursor:pointer;
	margin-right:5px;
}

.alert:empty {
	display:none;
}

.join-party-button {
	cursor:pointer;
}

.invite-button {
	cursor:pointer;
	margin-left:10px;
}

.end-button {
	cursor:pointer;
	margin-left:10px;
}

a {
	color: #731075;
	outline-color:#731075;
}

a:hover {
	color: #420943;
	outline-color:#420943;
}

.navbar {
	background-color:#420943;
}

.navbar a, .navbar a.navbar-brand {
	color:white;
}

.navbar .navbar-text {
	color:white;
	margin-top:50px;
}

.navbar .navbar-brand {
	height:80px;
}

.navbar .navbar-brand img {
	height: 50px;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

.open-party-details {
	color:#731075;
}

.open-party-details:hover {
	color:#420943;
}

.remove-course span {
	color:#731075;
}

.remove-course span:hover {
	color:#420943;
}

.form-control:focus {
	border-color: rgba(115, 16, 117, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(115, 16, 117, 0.6);
	outline: 0 none;
}

.btn-primary {
	background-color:#1693A5;
	border-color:#127887;
}

.btn-primary:hover, .btn-primary:focus {
	background-color:#127887;
	border-color:#127887;
}