.navbar-nav {
	float:none !important;
}

.navbar-nav a {
	cursor:pointer;
}

.popover {
	max-width:none;
	width:500px;
}

body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}