.navbar-nav {
	float:none !important;
}

.navbar-nav a {
	cursor:pointer;
}

.popover {
	max-width:none;
	width:500px;
}

body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

#map {
	height: 500px;
	z-index:0;
}

#map.adding-party:hover {
	cursor:crosshair;
}

#map-container {
	position:relative;
}

#new-party {
	position:absolute;
	top:10px;
	right:25px;
	font-size:30px;
	z-index:1;
	cursor:pointer;
	color:#428bca;
}

#refresh-map {
	position:absolute;
	top:50px;
	right:25px;
	font-size:30px;
	z-index:1;
	cursor:pointer;
	color:#428bca;
}

#refresh-map span {
	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
}

#refresh-map:hover span {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

#new-party span {
	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
}

.course-line .party-details {
	display:none;
}

.course-line.expanded .party-details {
	display:initial;
}

.class-tab-panel {
	padding-top:10px;
}

.open-party-details {
	cursor:pointer;
}

.color-palette {
	width:10px;
	height:10px;
	display:inline-block;
	margin-right: 5px;
}

.course-line {
	padding:5px;
	border-radius: 5px;
}

.go-to-party {
	cursor: pointer;
}

.footer {
	margin-top:10px;
}